.t {
	width: 50px;
	height: 25px;
	border-radius: 20px;
	border: 1px solid #999;
	background-color: white;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.t-icon {
	width: 15px;
	height: 15px;
}

.t-button {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	/* Adding a little grey transparent background color */
	background-color: rgba(0, 0, 0, 0.1);
	border: 2px solid rgb(243, 128, 34);
	position: absolute;
	cursor: pointer;
}
